/* zaimportowane ikonki kontaktowe */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

/* root - ustawienia wstępne do użycia jednostek rem */
:root {
    font-size: 62.5%;
}

/* body*/
body {
    background-color: #FFFBFE;
    font-family: 'Montserrat', sans-serif;
}

/* główne ustawienia headera */
.header-contact {
    display: flex;
    justify-content: right;
    max-width: 192rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    font-size: 1.6rem;
}

/* główne ustawienia paragrafów headera - telefon i mail */
.header-contact p {
    text-decoration: none;
    padding-left: 2rem;
}

/* oddzielenie zaimportowanych ikonek od tekstu */
.header-contact i {
    padding-right: 0.5rem
}

/* pasek nawigacyjny w headerze */
nav {
    display: flex;
    justify-content: right;
    max-width: 192rem;
    font-size: 2rem;
    padding-bottom: 4rem;
    color: 272932;

    ul {
        list-style-type: none;
        margin: 0;
        padding-right: 0;
    }
    
    li {
        display: inline;
        padding-left: 1rem;
    }
}

/* fotografia okładkowa */
.section1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 192rem;
    background-image: url("/pics/drzwi_pics/biale_drzwi_otwarte.jpg");
    background-size: cover;
    background-position: center;
    color: #272932;
    font-size: 3rem;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin: 0 auto;
}

/* ogólne ustawienia sekcji 2 (ofertowej) */
#offer {
    padding-top: 4rem;
    color: #272932;
}

/* sekcja 2 oferta ustawienia tekstu */
.section2-offer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* sekcja 2 oferta ustawienia tekstu w paragrafie */
.section2-offer-text p {
    font-style: italic;
    margin: 0;
    padding: 0;
}

/* główne ustawienia listy, przystosowanie jej do pracy ze zdjęciami */
.section2-offer-tiles ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 192rem;
    margin: 0 auto; /* wycentrowanie siatki */
    padding: 7rem 2rem 0rem 2rem; /* padding dookoła siatki*/
  }
  
  /* dalsze ustawienia siatki, tym razem dla konkretnego kafelka */
  .section2-offer-tiles li {
    flex: 1;
    min-width: 40rem;
    min-height: 40rem;
    background-size: cover;
    background-position: center;
    color: #FFFBFE;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.1rem 0.1rem 3rem black;
    font-size: 4rem;
    font-weight: 600;
  }
  
  /* childy + dorzucenie im zdjęć jako tła */
  .section2-offer-tiles li:nth-child(1) {
    background-image: url('pics/section_2_tiles_square/door4.jpg');
  }
  
  .section2-offer-tiles li:nth-child(2) {
    background-image: url('pics/section_2_tiles_square/window3.jpg');
  }

  .section2-offer-tiles li:nth-child(3) {
    background-image: url('pics/section_2_tiles_square/maintenance3.jpg');
  }

  .section2-offer-tiles li:nth-child(4) {
    background-image: url('pics/zdj_skala_panoram/wstawianie_okna_2.jpg');
  }

  .section2-offer-tiles li:nth-child(5) {
    background-image: url('pics/section_2_tiles_square/maintenance4.jpg');
  }

  .section2-offer-tiles li:nth-child(6) {
    background-image: url('pics/section_2_tiles_square/maintenance1.jpg');
  }

  .section2-offer-tiles li:nth-child(7) {
    background-image: url('pics/zdj_surowe/hurt.jpg');
  }

  .section2-offer-tiles li:nth-child(8) {
    background-image: url('pics/zdj_skala_panoram/handshake.jpg');
  }

  .section2-offer-tiles li:nth-child(9) {
    background-image: url('pics/section_2_tiles_square/support1.jpg');
  }
  
  /* chciałem, aby maksymalny rozmiar całej siatki zdjęć mieścił się w HD, nie w 4k */
  @media (max-width: 1920px) {
    .section2-offer-tiles ul {
      max-width: 100%;
    }
  }

#whywe {
    padding-top: 4rem;
    color: #272932;
}

/* sekcja 3 "dlaczego my" ustawienia tekstu */
.section3-whywe-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* sekcja 3 "dlaczego my" ustawienia tekstu w paragrafie */
.section3-whywe-text p {
    font-style: italic;
    margin: 0;
    padding: 0;
}

/* główne ustawienia sekcji kafelkowej */
.section3-whywe-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 192rem;
  gap: 1rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0 auto;
  border-radius: 1.3rem;
}

/* dalsze ustawienia kafelków w sekcji 3 */
.section3-whywe-tile {
  flex: 1;
  min-width: 30rem; /* minimalna szerokość */
  background-size: cover;
  background-position: center;
  color: #FFFBFE;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  height: 40rem; /* wysokość kafelka */
}

.section3-whywe-tile img {
  width: 100%;
  height: 100%; /* wypełnienie kafelka zdjęciem */
  object-fit: cover; /* ten sam aspect zdjęcia na całym kafelku */
  border-radius: 1.3rem; /* zaokrąglone brzegi zdjęcia */
}

.section3-whywe-tile-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #468189; /* background tekstu*/
}

/* główne ustawienia sekcji stolarki drzwiowej */
#door-joinery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 192rem;
  margin: 0 auto;
  padding: 4rem 2rem;
}

/* usunięcie stylu listy, aby pozbyć się czarnych punktorów */
#door-joinery li {
  list-style: none;
}

/* maksymalny rozmiar zdjęcia */
#door-joinery img {
  max-width: 70rem;
}

/* box z tekstem i jego ustawienia */
.door-joinery-text {
  color: #272932
  display: flexbox;
  max-width: 80rem;
  text-align: left;
  font-size: 2rem;
  padding-left: 3rem;
}

/* główne ustawienia sekcji stolarki okiennej */
#window-joinery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 192rem;
  margin: 0 auto;
  padding: 4rem 2rem; /* Adjust padding as needed */
}

/* usunięcie stylu listy, aby pozbyć się czarnych punktorów */
#window-joinery li {
  list-style: none;
}

/* maksymalny rozmiar zdjęcia */
#window-joinery img {
  max-width: 70rem;
}

/* box z tekstem i jego ustawienia */
.window-joinery-text {
  color: #272932
  display: flexbox;
  max-width: 80rem;
  text-align: right;
  font-size: 2rem;
  padding-right: 3rem;
}

#additional-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-size: 1.6rem;
  color: #272932;
}

#additional-services li {
  list-style: none;
}